.row-container-style {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: #ccc;
    justify-content: center;
    align-items: center;
}

.text-area-style {
    width: 100%;
    height: 100%;

    resize: none;
}

.column-container-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.button-style {
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.items-collection {
    display: inline-block;
    text-align: left;
}
