.app-container-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #ccc;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.button-style {
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
}
